.header_container{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    position: relative;
   align-items: center;
  
  
}



.header_container label{
    z-index:1 ;
    align-items: center;
 
    display: flex;
    gap: 0.5rem;
    background-color: aliceblue;
    margin-right: 20px;
   
}

.header_container label svg{
    font-size: 2rem;
}

label input{
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 20px;
    text-align: center;
    font-weight: 800;
    color: rgb(133, 133, 133);
    font-size: 0.9rem;
}