*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", serif;
}

body{
  background-color: #5a5a5a;
  width: 100vh;
  margin: 0 auto;
}

h1{
  color: #5a5a5a;
}

p{
  color: #9c9c9c;
}